.layout-comment{
    margin-left:50px;
}

.layout-avatar{
    margin-left:14px;
}

.layout-comment-input{
    padding-left:24px;
}

.caption {
    font-size: 111%;
}

.media-styles {
    height:235px; 
    width:225px
}
