.layout-comment{
    margin-left:50px;
}

.layout-avatar{
    margin-left:14px;
}

.layout-comment-input{
    padding-left:24px;
}

.caption {
    font-size: 111%;
}

.media-styles {
    height:235px; 
    width:225px
}

.edit-avatar-img {
    max-width: 190px;   
}

.style-footer {
    position: absolute;
    bottom: 0;
}

.reply-button {
    margin-top: 6px;
    width: 55px;
    height: 30px;
    padding-top: 4px;
}

.user-list{
    margin-bottom: 30px;
}

.follower-image{
    margin-right: -50px;
}
